:where(html) {
	--font-size-00: .5rem;
	--font-size-0: .75rem;
	--font-size-1: 1rem;
	--font-size-2: 1.1rem;
	--font-size-3: 1.25rem;
	--font-size-4: 1.5rem;
	--font-size-5: 2rem;
	--font-size-6: 2.5rem;
	--font-size-7: 3rem;
	--font-size-8: 3.5rem;
	--size-000: -.5rem;
	--size-00: -.25rem;
	--size-1: .25rem;
	--size-2: .5rem;
	--size-3: 1rem;
	--size-4: 1.25rem;
	--size-5: 1.5rem;
	--size-6: 1.75rem;
	--size-7: 2rem;
	--size-8: 3rem;
	--size-9: 4rem;
	--size-10: 5rem;
	--size-11: 7.5rem;
	--size-12: 10rem;
	--size-13: 15rem;
	--size-14: 20rem;
	--size-15: 30rem;
	--size-px-000: -8px;
	--size-px-00: -4px;
	--size-px-1: 4px;
	--size-px-2: 8px;
	--size-px-3: 16px;
	--size-px-4: 20px;
	--size-px-5: 24px;
	--size-px-6: 28px;
	--size-px-7: 32px;
	--size-px-8: 48px;
	--size-px-9: 64px;
	--size-px-10: 80px;
	--size-px-11: 120px;
	--size-px-12: 160px;
	--size-px-13: 240px;
	--size-px-14: 320px;
	--size-px-15: 480px;
	--size-fluid-1: clamp(.5rem, 1vw, 1rem);
	--size-fluid-2: clamp(1rem, 2vw, 1.5rem);
	--size-fluid-3: clamp(1.5rem, 3vw, 2rem);
	--size-fluid-4: clamp(2rem, 4vw, 3rem);
	--size-fluid-5: clamp(4rem, 5vw, 5rem);
	--size-fluid-6: clamp(5rem, 7vw, 7.5rem);
	--size-fluid-7: clamp(7.5rem, 10vw, 10rem);
	--size-fluid-8: clamp(10rem, 20vw, 15rem);
	--size-fluid-9: clamp(15rem, 30vw, 20rem);
	--size-fluid-10: clamp(20rem, 40vw, 30rem);
	--gray-0: #f8f9fa;
	--gray-1: #f1f3f5;
	--gray-2: #e9ecef;
	--gray-3: #dee2e6;
	--gray-4: #ced4da;
	--gray-5: #adb5bd;
	--gray-6: #868e96;
	--gray-7: #495057;
	--gray-8: #343a40;
	--gray-9: #212529;
	--gray-10: #16191d;
	--gray-11: #0d0f12;
	--gray-12: #030507;
	--radius-1: 2px;
	--radius-2: 5px;
	--radius-3: 1rem;
	--radius-4: 2rem;
	--radius-5: 4rem;
	--radius-6: 8rem;
}
