---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/base_layout.astro';

const recipes = await getCollection('recipes');
---

<BaseLayout title="Rezepte">
	<ul>
		{recipes.map(recipe => (
		  <li><a href={`/recipe/${recipe.id}`}>{recipe.data.title}</a></li>
		))}
	  </ul>
</BaseLayout>