---
interface Props {
	title: string;
	href: string;
}

const { title, href } = Astro.props;
---

<li>
    <div class="img"></div>
    <a href={href}>
        {title}
    </a>
</li>

<style>
    .img {
        background-color: var(--accent);
        aspect-ratio: 8 / 3;
        border-radius: var(--radius);
    }

    li {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--size-1);
    }

    li:hover {
        text-decoration: underline;
    }

    a::before {
        content: "";
        position: absolute;
        inset: 0;
    }
</style>
