---
interface Props {
    title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<li>
    <a href={href}>
        {title}
    </a>
</li>

<style>
    li {
        aspect-ratio: 8 / 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--size-1);
        border: solid 1px var(--border);
        border-radius: var(--radius);
        padding: var(--size-3);
        background-color: white;
    }

    li:hover {
        text-decoration: underline;
    }

    a::before {
        content: "";
        position: absolute;
        inset: 0;
    }
</style>
