---
interface Props {
	title: string;
	href: string;
}

const { title, href } = Astro.props;
---

<article>
    <div class="img"></div>
    <h2>{title}</h2>
    <a href={href}></a>
</article>

<style>
    .img {
        background-color: var(--gray-2);
        aspect-ratio: 16 / 9;
    }

    article {
        aspect-ratio: 4 / 3;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--size-2);
    }
    
    a::before {
        content: '';
        position: absolute;
        inset: 0;
    }

    h2 {
        font-size: var(--font-size-4);
    }

    article:hover {
        color: var(--blue-4);
    }
</style>