---
import { getCollection } from "astro:content";
import Search from "./search.astro";
import { get_unique_tags } from "src/utils/tags";

interface Props {
    active?: string;
}

const recipes = await getCollection("recipes");

const tags = get_unique_tags(recipes)
    .sort((a, b) => b.count - a.count)
    .slice(0, 10);

const { active } = Astro.props;
---

<header>
    <Search class="search" />
    <ul class="tags">
        <li>
            <a href={"/"}>Alle</a>
        </li>
        {
            tags.map((item) => (
                <li data-type={`${item.lowercase === active ? "active" : ""}`}>
                    <a href={`/tags/${item.lowercase}`}>{item.original}</a>
                </li>
            ))
        }
    </ul>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: var(--size-3);
        background-color: white;
        margin-block-end: var(--size-4);
        padding-block: var(--size-2);
    }

    .search {
        z-index: 20;
        margin-inline: var(--inline);
    }

    .tags {
        overflow: auto;
        gap: 1rem;
        display: flex;
        align-items: center;
        margin-inline: var(--inline);
        padding-block-end: var(--size-3);
    }

    .tags li {
        padding-block: var(--size-1);
        padding-inline: var(--size-3);
        border-radius: var(--radius);
        position: relative;
        border: solid 1px var(--border);
    }

    .tags li[data-type="active"] {
        background-color: var(--focus);
    }

    .tags li[data-type="active"]:hover {
        background-color: var(--accent);
    }

    .tags li:hover {
        background-color: var(--focus);
    }

    .tags li a::before {
        content: "";
        position: absolute;
        inset: 0;
    }
</style>
