---
import Search from "./search.astro";
---

<header>
    <a href="/">Rezepte</a>
    <Search />
</header>

<style>
    header {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-block: var(--size-2);
        align-items: center;

        position: sticky;
        top: 0;

        background-color: var(--accent);

        z-index: 5;

        padding-inline: max((100% - 70rem) /2, 2rem);

        border-block-end: solid 1px var(--border);
    }

    a {
        font-size: 1.5rem;
    }

    a:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: 1200px) {
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>
