---
import Search from "./search.astro";
---
<header>
    <a href="/">
        <h1>Rezepte</h1>
    </a>
    <nav>
        <Search  />
    </nav>
</header>

<style>
    header {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-block: var(--size-fluid-1);
        align-items: center;

        background-color: var(--gray-1);

        position: sticky;
        top: 0;

        z-index: 5;

        border-bottom: solid 1px var(--gray-3);

        padding-inline: max((100% - 70rem) /2, 2rem);
    }

    h1 {
        font-size: var(--font-size-4);
    }

    h1:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: 1200px) {
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>