---
interface Props {
	data: {
		amount?: string;
		name: string;
	}[];
}

const { data } = Astro.props;
---

<section>
  <h2>Zutaten</h2>
  <ul>
    {
      data.map((ingredient) => (
        <li>
          <span>{ingredient.amount}</span>
          <span>{ingredient.name}</span>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-2);

    background-color: var(--accent);
    border-radius: var(--radius);
    height: max-content;
  }

  h2 {
    font-size: 2rem;
  }

  ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }
</style>
