---
interface Props {
	data: {
		amount?: string;
		name: string;
	}[];
}

const { data } = Astro.props;
---

<section>
    <h2>Zutaten</h2>
      <ul>
        {data.map(ingredient => <div>
          <span>{ingredient.amount}</span>
          <span>{ingredient.name}</span>
        </div>)}
      </ul>
</section>

<style>

  section {
    background-color: var(--gray-1);
    padding: var(--size-2);
    border-radius: var(--radius-2);

    border: solid 1px var(--gray-2);

    height: max-content;
  }

  h2 {
    font-size: var(--font-size-5);
  }

  ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
  }
</style>