<script src="/pagefind/pagefind-modular-ui.js" is:inline></script>

<form>
  <div class="search">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
    <input id="search" />
  </div>
  <div id="results" />
</form>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        // @ts-ignore
        const instance = new PagefindModularUI.Instance({
          debounceTimeoutMs: 500,
          resetStyles: false
        });

        // @ts-ignore
        instance.add(new PagefindModularUI.Input({
          inputElement: "#search"
        }));
        
        // @ts-ignore
        instance.add(new PagefindModularUI.ResultList({
            containerElement: "#results"
        }));
    });
</script>

<style is:global>
  form {
    position: relative;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.35rem;
    border: solid 1px var(--gray-3);
    padding-inline: var(--size-2);
    border-radius: var(--radius-2);
    background-color: white;
  }

  #search {
    border: none;
    width: 100%;
    padding-block: 0.25rem;
    font-size: var(--font-size-2);
   
  }

  #search:focus-within {
    outline: none;
  }

  #results {
    position: absolute;
    background-color: white;
    border: solid 1px;
    padding: var(--size-2);
    border-radius: var(--radius-2);
    margin-block-start: var(--size-2);

    display: none;
    flex-direction: column;
    gap: var(--size-2);
    z-index: 10;
  }

  #results:has(li) {
    display: flex;
  }

  li {
    list-style: none;
    position: relative;
  }

  #results .pagefind-modular-list-title {
    font-size: var(--size-4);
  }

  #results .pagefind-modular-list-excerpt {
    font-size: var(--size-3);
    color: var(--gray-6);
  }

  #results .pagefind-modular-list-link::before {
    content: "";
    inset: 0;
    position: absolute;
  }
</style>