---
interface Props {
	data: {
		content: string;
	}[];
}

const { data } = Astro.props;
---

<section>
    <h2>Schritte</h2>
    <ol type="1">
      {data.map(step => <li>
        {step.content}
       </li>)}
    </ol>
</section>

<style>
    h2 {
      font-size: var(--font-size-5);
    }
  </style>

<style>
    ol {
        list-style: decimal;
        list-style-position: inside;

        display: flex;
        flex-direction: column;
        gap: var(--size-2);
    }
</style>